
/* 
  SVG styles
*/
.steklo {
  fill: #f2f2f2;
  opacity: .5
}

.kolo {
  fill: #1b1c10
}

.platisca {
  fill: #e2e2e2
}

.platisca-2 {
  fill: #b2b2b3
}

.zadnja-luc {
  fill: #961000
}

.barva {
  fill: darkcyan
}

.senca {
  opacity: .5
}

.senca-2 {
  opacity: .15;
  enable-background: new
}

.sprednja-luc {
  fill: #e6e6e6
}
